<br><br><br>
<div class="container w-50 border-3 shadow p-3 mb-5 bg-white rounded">
    {{!-- {{#each staffs}} --}}

    {{!-- {{/each}} --}}
    <h1 class="text-center text-capitalize">subject name: {{staff.first_name}} {{staff.last_name}}</h1>
</div>