<br><br><br>
{{!-- <div class="container"> --}}
    <div class="row row-cols-auto mx-auto d-flex justify-content-around">
        {{#each subjects}}
        <div class="card col p-0 m-4 shadow" style="width: 18rem;">
            <img src="images/school-books-young-adult-education.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{name}}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="staff/subjects/{{_id}}" class="btn btn-primary">Go to Subject</a>
            </div>
        </div>
        {{/each}}
    </div>
    {{!--
</div> --}}