<br><br><br>
<div class="row row-cols-1 d-flex justify-content-around mx-auto">
    <div class="card col p-0 m-4 shadow" style="width: 18rem;">
        <img src="/images/access-app-application-archive.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Files</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
            <a href="#" class="btn btn-primary w-100 my-2">Files</a>
            <div>
                <button class="btn btn-outline-danger">Upload File</button>
                <input class="btn w-50 btn" type="file" name="" id="">
            </div>
        </div>
    </div>

    <div class="card col p-0 m-4 shadow" style="width: 18rem;">
        <img src="/images/students-studying-motivational-minimalism-wallpaper-preview.jpg" class="card-img-top"
            alt="...">
        <div class="card-body">
            <h5 class="card-title">Students</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p>
            <a href="#" class="btn btn-primary">Show Students</a>
        </div>
    </div>
</div>